DEBUG=true
APP_PORT=8000
APP_WORKERS=4
DATABASE_PATH=app/data/qna_rag.sqlite3
KNOWLEDGE_DIR=./knowledge

AZURE_OPENAI_API_KEY="your-api-key"
AZURE_OPENAI_ENDPOINT="proxy-endpoint"
OPENAI_API_VERSION="api-version"
AZURE_OPENAI_DEPLOYMENT="model"
